@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;

  --primary: #00eaff;
  --secondary: #0066ff;

  --muted: #8b8b8b;

  --border: rgba(255,255,255,.08);

  --glass: rgba(255,255,255,.04);

  --section-padding: 120px;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-inter);
  overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family:var(--font-space);
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}